.details-view .details-view-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details-view .details-view-row .fa {
  font-size: 14px;
  margin-left: 15px;
  cursor: pointer;
  color: #F4511E;
}

.details-view .details-view-title {
  color: #7a7c84;
  margin-left: 15px;
}

/* Tooltip appends to body with unique id */
#pilot-tooltip {
  font-size: 14px;
}
