.icon-container {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #1B3B5E;
  cursor: pointer;
  transition: background-color .1s ease-in;
}

.icon-container:hover {
  background-color: #3D5681;
}

.icon-container.accept {
  background-color: #00ACC1;
}

.icon-container.accept:hover {
  background-color: #14bdd2;
}

.icon-container.cancel {
  background-color: #F4511E;
}

.icon-container.cancel:hover {
  background-color: #e86e48;
}

.icon-container.normal {
  background-color: #78909C;
}

.icon-container.normal:hover {
  background-color: #839ca9;
}

.icon-container.warning {
  background-color: #F9A825;
}

.icon-container.warning:hover {
  background-color: #efb860;
}

.icon-container > .fa {
  color: #fff;
}

.icon-group .icon-container {
  margin-right: 10px;
}

.icon-group .icon-container:last-child {
  margin-right: 0px;
}
